/*tr {
    text-align: center;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th,td {
    padding: 5px;
}
*/
body {
	font-family: Verdana;
	color: #111111;
	font-size:10px;}
table {
	width: 95%;
	border-collapse: collapse;
}
th {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 90%;
	border-bottom: 2px solid #111111;
	border-top: 1px solid #999;
	text-align: center;
	width: auto ;
}
tr {
	text-align: center;
}
tr.even {
	background-color: #efefef;}
/*tr:hover {
	background-color: #c3e6e5;}
.money {
	text-align: right;}*/
