#recent_league_activity {
	float: left;
	margin-left: 25px;
	width: 50%;
}


table {
	width: 20%;
	float: right;
	margin-right: 10%;
	border-collapse: collapse;
	empty-cells: show;
	line-height: 15px;
	color: #000;
	text-decoration: none;
	font-size: 12px;
}
th {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 90%;
	border-bottom: 2px solid #111111;
	border-top: 1px solid #999;
	text-align: center;
	width: auto ;
}
tr:nth-child(even) {
    background-color: #ffffff;
}
tr:nth-child(odd) {
    background-color: #FFF0D1;
}

