body,
html {
	margin:0;
	padding:0;
	color:#000;
	background:#a7a09a;
}

#wrap {
	width:80%;
	margin:0 auto;
	background:#99c;
}

#header {
	padding:5px 10px;
	background:#ddd;
}
#nav {
	padding:5px 10px;
	background:#c99;
}
#nav ul {
	margin:0;
	padding:0;
	list-style:none;
}
#nav li {
	display:inline;
	margin:0;
	padding:20px;
}
#main {
	float:left;
	width:40%;
	background:#9c9;
}
#sidebar {
	float:right;
	width:60%;
	background:#99c;
}
#sidebar ul {
	margin:0;
	padding:0;
	list-style:none;
	text-align:center;
}

#sidebar li {
	display:inline;
	margin:0;
	padding:20px;
}

#footer {
	clear:both;
	padding:5px 10px;
	background:#cc9;
}

h2 {
	margin:0 0 1em;
}
table {
	width: 95%;
	border-collapse: collapse;
}
th {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 90%;
	border-bottom: 2px solid #111111;
	border-top: 1px solid #999;
	text-align: center;
	width: auto ;
}
tr {
	text-align: center;
}
