#free-agents-search-container {
	width: 663px;
	height: 158px;
	background: #EFEFEF;
	margin-left:10px;
	padding: 10px;
}
#free-agents-search-container a {
	color: #225EC5;
	text-decoration: none;
}
#free-agents-search-container a:hover {
	color: #225EC5;
	text-decoration: underline;
}
#free-agents-search-container  ul {
	list-style:none;
	display:inline;
	padding: 15px;
}
#free-agents-search-container  li {
	display:inline;
	margin:0;
	font-size: 10px;
}
#team-selector {
	margin-left: 10px;
}