#homeTeamProfileContainer {
	float:left; 
	border: 1px solid #DDDDDD; 
	padding: 0px; 
	width:455px; 
	background:#EFEFEF; 
	margin-left: 10px;
	margin-bottom: 3%;
	margin-top:20px;
	font-size:10px;
	position: absolute;
}
#awayTeamProfileContainer {
	float:right; 
	border: 1px solid #DDDDDD; 
	padding: 0px; 
	width:455px; 
	background:#EFEFEF;
	margin-top:20px; 
	margin-left: 525px;
	margin-bottom: 3%;
	position: absolute;
}
#teamLogo {
	float:left; 
	border-right:1px solid #dddddd; 
	line-height:0px;
}
#teamLogo a {
	border:none; 
	width:151; 
	height:129.0;
}
#teamLogo img {
	border:none; 
	background-color:white; 
}
#teamProfileInnerContainer {
	text-align:left; 
	padding:5px; 
	float:left; 
	width:285px; 
	line-height:18px;
}
#teamProfileInnerContainerName {
	font-size:18px;
	font-weight: bold; 
	margin-bottom:14px; 
	font-family:Helvetica,sans-serif;
}
#teamProfileInfo { 
	width: 290px; 
	height: 48px; 
	display: block; 
	margin-top: -2px; 
	margin-bottom: 3px; 
}
#teamProfileOwnerMug { 
	width: 35px; 
	height: 48px; 
	display:inline; 
	float: left; 
	padding: 0; 
}
#teamProfileOwnerData { 
	width: 104px; 
	padding: 3px; 
	overflow: hidden; 
	height: 42px; 
	display: inline; 
	float: left; 
}
#matchup-home {
	font-size:10px;
}
#team-profile-info {
	margin-left:6%;
}
a:link {
    color: #000000;
}
a:visited {
	color: #000000;
}
a:hover {
    color: #D18603;
}
#teamtable_0 {
	width:90%;
	margin-left: 5%;
}
#team_table_0 a {
	color: black;
}
#table_row_head_0 {
	background:#BA4F00;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}
#table_subrow_head_0 {
	background:#DF8F41;
	font-weight: bold;
}
#table_subrow_head_1 {
	background:#EEC49A;
	font-weight: bold;
}
#team_stats_total_row {
	background: #D1D1BB;
	font-weight: bold;
}
#matchup_table_row_0 {
	background: #F2F2E8;
}
tr:nth-child(even) {
    background-color: #F8F8F2;
}
tr:nth-child(odd) {
    background-color: #F2F2E8;
}
td.matchupLeadingSpacer {
	width: 11px;
	height: 24px;
	background:#fff;
}
td {
	padding: 5px;
}
th {
	padding: 5px;
}
#matchup-title {
	margin-left:10px;
}
#totals_table_0 {
	width: 98%;
	margin-left: 1%;
	margin-right: 1%;
	font-size: 9px;
	text-align: left;
	padding: 5px;
	border-collapse: collapse;
}
#teamtable_0 {
	width: 98%;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 20px;
	font-size: 9px;
	text-align: left;
	padding: 5px;
	border-collapse: collapse;
}