body,
html {
	margin:0;
	padding:0;
	color:#000;
	background:#a7a09a;
}

#wrap {
	width:750px;
	margin:0 auto;
	background:#99c;
}

#header {
	background:#ddd;
}
#nav {
	background:#c99;
}
#main {
	background:#9c9;
}
#sidebar {
	background:#c9c;
}
#footer {
	background:#cc9;
}

#main {
	float:left;
	width:500px;
	background:#9c9;
}
#sidebar {
	float:right;
	width:250px;
	background:#c9c;
}

/*body {
	font-family: Arial, Verdana, sans-serif;
	color: #111111;}*/
table {
	width: 95%;
	border-collapse: collapse;
}
th {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 90%;
	border-bottom: 2px solid #111111;
	border-top: 1px solid #999;
	text-align: center;
	width: auto ;
}
tr {
	text-align: center;
}
tr.even {
	background-color: #efefef;}
.money {
	text-align: right;}*/