{% load staticfiles %}
<head>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.11.2.min.js"></script> 
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script> 
	<link rel="stylesheet" type="text/css" href="{% static "css/teamprofile.css" %}" />
</head>

<h3>Season averages as of {% now "M d" %}</h3>
    {% block navigation %}
		<div id="top-navigation-bar">
			<ul>
				<li><a href={% url 'site_home' %}>Basketball Home</a></li>
				<li><a href={% url 'all_teams' %}>League Home</a></li>
                <li><a href={% url 'all_averages' %}>Players</a></li>
			</ul>
		</div>
		<!-- end navigation -->
	{% endblock %}
	{% block main-content %}
		<div id="main-content">
			<ul class="stat_filter_links">
				<li><a href={% url 'all_averages' %}>All Players</a></li>
				<li><a href={% url 'free_agents' %}>Free Agents</a></li>
			</ul>

		<table id="teamtable_0" class="tablesorter">
			<thead>
				<tr>
					<th>Name</th>
					<th>MPG</th>
					<th>Points</th>
					<th>Assists</th>
					<th>Rebounds</th>
					<th>Steals</th>
					<th>Blocks</th>
				</tr>
			</thead>
			<tbody>
			{% for player_id in avg_stats.iteritems %}
				<tr>
					<td>
						<a href="{% url 'player_profile' player_id.0 %}">{{ player_id.1.player_info.name }}</a>,
						{{ player_id.1.player_info.nba_team }} {{ player_id.1.player_info.position }}
					</td>
					<td>{{ player_id.1.minutes }}</td>
				    <td>{{ player_id.1.points }}</td>
				    <td>{{ player_id.1.assists }}</td>		
				    <td>{{ player_id.1.rebounds }}</td>
				    <td>{{ player_id.1.steals }}</td>		
				    <td>{{ player_id.1.blocks }}</td>
		  		</tr>
		  	{% endfor %}
		  	</tbody>
		</table>
		</div>
	{% endblock %}

<script>
	$(document).ready(function() 
	    { 
	        $("#averages_table").tablesorter({ 
            	sortInitialOrder: 'desc',
            	sortList: [[2,1]] // etc.
    		}); 
		} 
	); 

</script>
