{% load staticfiles stat_filters %}
{% extends 'player_profile.html'}

<link rel="stylesheet" type="text/css" href="{% static 'players/player_profile.css' %}" />

<h4>{{ player.name }}</h4>

	{% if image_url %}
		<img border="1" src={{ image_url }}>
	{% endif %}
    <br><br>

<h3>Last 15 averages</h3>

<table>
	<th>MPG</th>
	<th>PPG</th>
	<th>APG</th>
	<th>RPG</th>
	<th>SPG</th>
	<th>BPG</th>
		<tr>
			<td>{{ stats.minutes }}</td>
		    <td>{{ stats.points }}</td>
		    <td>{{ stats.assists }}</td>		
		    <td>{{ stats.rebounds }}</td>
		    <td>{{ stats.steals }}</td>		
		    <td>{{ stats.blocks }}</td>
  		</tr>
</table>