{% load staticfiles %}
<head>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.11.2.min.js"></script> 
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script> 
</head>

<link rel="stylesheet" type="text/css" href="{% static 'css/allteams.css' %}" />

<h3>All Teams</h3>

<table id="recent_league_activity" >
	<caption>Recent League Activity</caption>
	<thead>
		<tr>
			<th>Date</th>
			<th>Transaction</th>
		</tr>
	</thead>

	</tbody>
</table>


<table id="all_teams" class="tablesorter">
	<caption>Standings</caption>
	<thead>
		<tr>
			<th>Name</th>
			<th>Record</th>
		</tr>
	</thead>
	<tbody>
		{% for team in teams %}
		<tr>
			<td><a href="{% url 'team_profile' team.id days_since_start %}">{{ team }}</a></td>
			<td>{{ team.record }}</td>
  		</tr>
	{% endfor %}
	</tbody>
</table>


<script>
	$(document).ready(function() 
	    { 
	        $("#all_teams").tablesorter({ 
            	sortInitialOrder: 'desc'
            	// sortList: [[1,1]] // etc.
    		}); 
	} ); 

</script>