{% load staticfiles %}
<head>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.11.2.min.js"></script> 
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script> 
</head>

<link rel="stylesheet" type="text/css" href="{% static 'css/allteams.css' %}" />

<h3>All Teams</h3>
<table id="all_teams" class="tablesorter">
	<thead>
		<tr>
			<th>Name</th>
			<th>Record</th>
			<th>FG%</th>
			<th>FT%</th>
			<th>Threes</th>
			<th>Points</th>
			<th>Rebounds</th>
			<th>Assists</th>
			<th>Steals</th>
			<th>Blocks</th>
			<th>Turnovers</th>
		</tr>
	</thead>
	<tbody>
		{% for team in teams %}
		<tr>
			<td><a href="{% url 'team_profile' team.id days_since_start %}">{{ team }}</a></td>
			<td>{{ team.record }}</td>
			<td>{{ team.fgpct }}</td>
			<td>{{ team.ftpct }}</td>
			<td>{{ team.threes }}</td>
			<td>{{ team.points }}</td>
			<td>{{ team.rebounds }}</td>
			<td>{{ team.assists }}</td>
			<td>{{ team.steals }}</td>
			<td>{{ team.blocks }}</td>
			<td>{{ team.turnovers }}</td>
  		</tr>
	{% endfor %}
	</tbody>
</table>


<script>
	$(document).ready(function() 
	    { 
	        $("#all_teams").tablesorter({ 
            	sortInitialOrder: 'desc',
            	sortList: [[1,1]] // etc.
    		}); 
	} ); 

</script>