{% load staticfiles stat_filters %}

<link rel="stylesheet" type="text/css" href="{% static "css/teamprofile.css" %}" />

{% block header %}
	<h3>{{ team.name }}</h3>
	<h4>Record: {{ team.record }}</h4>
{% endblock %}

    {% block navigation %}
		<div id="navigation">
			<ul>
				<li><a href={% url 'site_home' %}>Basketball Home</a></li>
				<li><a href={% url 'all_teams' %}>League Home</a></li>
                <li><a href={% url 'all_averages' %}>Players</a></li>
                <li><a href={% url 'all_matchups' %}>Schedule</a></li>
			</ul>
		</div>
		<!-- end navigation -->
	{% endblock %}
		
	{% block current-matchup %}
		<div id="current-matchup">
            <a href={% url 'current_matchup' team.id %}>Current Matchup</a>
		</div>
	{% endblock %}

{% block main-content %}
	<div id="main-content">
		<ul class="stat_filter_links">
			<li><a href={% url 'team_last_week' team.id %}>Last 7</a></li>
			<li><a href={% url 'team_last_fifteen' team.id %}>Last 15</a></li>
			<li><a href={% url 'team_last_month' team.id %}>Last 30</a></li>	
			<li><a href={% url 'team_profile' team.id %}>Season</a></li>
		</ul>

		{% include 'team_table.html' %}

	</div>
{% endblock %}