{% load staticfiles stat_filters %}

<link rel="stylesheet" type="text/css" href="{% static "css/teamprofile.css" %}" />

    {% block navigation %}
		<div id="top-navigation-bar">
			<ul>
				<li><a href={% url 'site_home' %}>Basketball Home</a></li>
				<li><a href={% url 'all_teams' %}>League Home</a></li>
                <li><a href={% url 'free_agents' days_since_start %}>Free Agents</a></li>
                <li><a href={% url 'all_matchups' %}>Schedule</a></li>
			</ul>
		</div>
		<!-- end navigation -->
	{% endblock %}

	{% block team-profile %}
		<div id="teamProfileContainer">
			<div id="teamLogo" href="{% url 'team_profile' team.id days_since_start %}">
				<img src="http://g.espncdn.com/s/fbalm/15/images/clubhouse/noLogoSilo.gif" width="151" height="129.0">
			</div>
			<div id="teamProfileInnerContainer">
			<div id="teamProfileInnerContainerName">{{ team }}</div>

			<div id="teamProfileInfo">
				<div id="teamProfileOwnerMug">
					<img src="http://assets.espn.go.com/i/profile/default/silo2_guy_35.jpg" width="35" height="48">
				</div>
				<div id="teamProfileOwnerData">
					<a href="{% url 'team_profile' team.id days_since_start %}">{{ team.owner }}</a>
				</div>
				</div><b>Record: </b>{{ team.record }}<br><b>Standing: </b>{{ team.standing | format_standing }}<br>
			</div>
			<div id="matchup-home">
				<ul>
					<li id="matchup-thisweek">
						<strong>Current Matchup: </strong>vs 
						<a href={% url 'team_profile' team.current_opponent.id days_since_start %}>{{ team.current_opponent }}</a> 
						(<a href={% url 'matchup' team.current_matchup.id %}>Box<a>)
					</li>
					<li id="matchup-lastweek">
						<strong>Previous: </strong>vs 
						<a href={% url 'team_profile' team.last_weeks_opponent.id days_since_start %}>{{ team.last_weeks_opponent }}</a> 
						(<a href={% url 'matchup' team.last_weeks_matchup.id %}>Box<a>)
					</li>
				</ul>
			</div>
		</div>
	{% endblock %}	


	{% block main-content %}
		<div id="main-content">
			<ul id="stat_filter_links">
				<li><a href={% url 'team_profile' team.id 7 %}>Last 7</a></li>
				<li><a href={% url 'team_profile' team.id 15 %}>Last 15</a></li>
				<li><a href={% url 'team_profile' team.id 30 %}>Last 30</a></li>	
				<li><a href={% url 'team_profile' team.id days_since_start %}>Season</a></li>
			</ul>

			{% include 'team_table.html' %}

		</div>
{% endblock %}