{% extends 'base.html' %}
{% load staticfiles stat_filters %}

<link rel="stylesheet" type="text/css" href="{% static "base/teamprofile.css" %}" />

{% block header %}
	<h3>{{ team.name }}</h3>

	<h4>Record: {{ team.record }}</h4>
{% endblock %}

{% block main-content %}
	<div id="main-content-table">
		<ul class="stat_filter_links">
			<li><a href={% url 'team_profile' team.id %}>Season</a></li>
			<li><a href={% url 'team_last_month' team.id %}>Last 30</a></li>
			<li><a href={% url 'team_last_fifteen' team.id %}>Last 15</a></li>
			<li><a href={% url 'team_last_week' team.id %}>Last 7</a></li>	
		</ul>

		<table class="team_table" cellpadding="2" cellspacing="2" border="1" id="teamtable_0" align="center">
			<tbody>
				<tr class="pure-table">
					<th colspan="3" class="team_table_section_header_first">STARTERS</th>
					<th colspan="2">{{ date }}</th>
					<th colspan="12">{{ date }} STATS</th>
				</tr>
				<tr class="team_table_sub_head">
					<td width="85px">SLOT</td>
					<td>PLAYER, TEAM POS</td>
					<td width="88px">ACTION</td>
					<td class="section_leading_spacer" title="Opponent">OPP</td>
					<td title="Game Status">STATUS ET</td>
					<td class="team_table_stat"><span title="Minutes">MIN</span></td>
					<td class="team_table_stat"><span title="Field Goals Made">FGM</span>/<span title="Field Goals Attempted">FGA</span></td>
					<td class="team_table_stat"><span title="Field Goal Percentage">FG%</span></td>
					<td class="team_table_stat"><span title="Free Throws Made">FTM</span>/<span title="Free Throws Attempted">FTA</span></td>
					<td class="team_table_stat"><span title="Free Throw Percentage">FT%</span></td>
					<td class="team_table_stat"><span title="Three Pointers Made">3PM</span></td>
					<td class="team_table_stat"><span title="Rebounds">REB</span></td>
					<td class="team_table_stat"><span title="Assists">AST</span></td>
					<td class="team_table_stat"><span title="Steals">STL</span></td>
					<td class="team_table_stat"><span title="Blocks">BLK</span></td>
					<td class="team_table_stat"><span title="Turnovers">TO</span></td>
					<td class="team_table_stat"><span title="Points">PTS</span></td>
				</tr>

			{% for player in avg_stats.iteritems %}
				<tr class="player_row">
					<td>PG</td>
					<td><a href="{% url 'player_profile' player.0 %}">{{ player.1.name }}</a>, {{ player.1.nba_team}} 
						{{ player.1.position }}</td>
					<td>MOVE</td>
					<td>{{ player.0|get_todays_opponent }}</td>
					<td>{{ player.0|get_tipoff }}</td>
					<td class="player_table_stat">{{ player.1.minutes }}</td>
					<td class="player_table_stat"><span>{{ player.1.fgm }}</span>/<span>{{ player.1.fga }}</span></td>
					<td class="player_table_stat">{{ player.1.fgpct|format_pct }}</td>
					<td class="player_table_stat"><span>{{ player.1.ftm }}</span>/<span>{{ player.1.fta }}</span></td>
					<td class="player_table_stat">{{ player.1.ftpct|format_pct }}</td>
					<td class="player_table_stat">{{ player.1.threes }}</td>
					<td class="player_table_stat">{{ player.1.rebounds }}</td>
					<td class="player_table_stat">{{ player.1.assists }}</td>
					<td class="player_table_stat">{{ player.1.steals }}</td>
					<td class="player_table_stat">{{ player.1.blocks }}</td>
					<td class="player_table_stat">{{ player.1.turnovers }}</td>
					<td class="player_table_stat">{{ player.1.points }}</td>
		  		</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
{% block sidebar %}{% endblock %}