{% extends 'base.html' %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static "base/base.css" %}"/>

	{% block header %}
		Fantasy Basketball
	{% endblock %}

	{% block main-content %}
		<h3>{{ player.name }}</h3>
		{% if image_url %}
			<img border="1" src={{ image_url }}>
		{% endif %}
	{% endblock %}

	{% block sidebar %}
		<div id="sidebar-content">
			<ul>
				<li><a href={% url 'player_profile' player.id %}>Season</a></li>
				<li><a href={% url 'player_last_month' player.id %}>Last 30</a></li>
				<li><a href={% url 'player_last_fifteen' player.id %}>Last 15</a></li>
				<li><a href={% url 'player_last_week' player.id %}>Last 7</a></li>	
			</ul>
			<table class="averages" cellpadding="2" cellspacing="2" border="1" id="teamtable_0" align="center">
				<caption>averages</caption>
					<tr>
						<th>MPG</th>
					    <th>PPG</th>
					    <th>3PG</th>
					    <th>APG</th>		
					    <th>RPG</th>
					    <th>SPG</th>		
					    <th>BPG</th>
					    <th>TOPG</th>
					</tr>
					<tr>
						<td>{{ avg_stats.minutes }}</td>
					    <td>{{ avg_stats.points }}</td>
					    <td>{{ avg_stats.threes }}</td>
					    <td>{{ avg_stats.assists }}</td>		
					    <td>{{ avg_stats.rebounds }}</td>
					    <td>{{ avg_stats.steals }}</td>		
					    <td>{{ avg_stats.blocks }}</td>
					    <td>{{ avg_stats.turnovers }}</td>
					</tr>
			</table>

			<table class="season_totals" cellpadding="2" cellspacing="2" border="1" id="teamtable_0" align="center">
				<caption>totals</caption>
					<tr>
						<th>Games</th>
				    	<th>Points</th>
				    	<th>Threes</th>
				    	<th>Assists</th>		
				    	<th>Rebounds</th>
				    	<th>Steals</th>		
				    	<th>Blocks</th>
					</tr>
					<tr>
						<td>{{ total_stats.games_played }}</td>
				    	<td>{{ total_stats.points }}</td>
				    	<td>{{ total_stats.threes }}</td>
				    	<td>{{ total_stats.assists }}</td>		
				    	<td>{{ total_stats.rebounds }}</td>
				    	<td>{{ total_stats.steals }}</td>		
				    	<td>{{ total_stats.blocks }}</td>
					</tr>
			</table>
		</div>
		<!-- end stat tables -->
	{% endblock %}

