{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'players/player_profile.css' %}" />

<div id="wrap">
	<div id="header">
		<h3>{{ player.name }}</h3>
	</div>
	<div id="nav">
		<ul>
			<li><a href="#">League Home</a></li>
			<li><a href="#">Team Home</a></li>	
		</ul>
	</div>

	<div id="main">
		{% block photo %}
			<h2>Column 1</h2>
			{% if image_url %}
				<img border="1" src={{ image_url }}>
			{% endif %}
		{% endblock %}
	</div>

	<div id="sidebar">
			<ul>
				<li><a href={% url 'player_profile' player.id %}>Season</a></li>
				<li><a href={% url 'player_last_month' player.id %}>Last 30</a></li>
				<li><a href={% url 'player_last_fifteen' player.id %}>Last 15</a></li>
				<li><a href={% url 'player_last_week' player.id %}>Last 7</a></li>	
			</ul>
		{% block averages %}
			<table class="season_averages" cellpadding="2" cellspacing="2" border="1" id="teamtable_0" align="center">
				<caption>averages</caption>
					<tr>
						<th>MPG</th>
					    <th>PPG</th>
					    <th>3PG</th>
					    <th>APG</th>		
					    <th>RPG</th>
					    <th>SPG</th>		
					    <th>BPG</th>
					</tr>
					<tr>
						<td>{{ player.mpg }}</td>
					    <td>{{ player.ppg }}</td>
					    <td>{{ player.threespg }}</td>
					    <td>{{ player.apg }}</td>		
					    <td>{{ player.rpg }}</td>
					    <td>{{ player.spg }}</td>		
					    <td>{{ player.bpg }}</td>
					</tr>
			</table>
		{% endblock averages %}
		<br><br>
		{% block totals %}
			<table class="season_totals" cellpadding="2" cellspacing="2" border="1" id="teamtable_0" align="center">
				<caption>totals</caption>
					<tr>
						<th>Games</th>
				    	<th>Points</th>
				    	<th>Threes</th>
				    	<th>Assists</th>		
				    	<th>Rebounds</th>
				    	<th>Steals</th>		
				    	<th>Blocks</th>
					</tr>
					<tr>
						<td>{{ player.games_played }}</td>
				    	<td>{{ player.points }}</td>
				    	<td>{{ player.threes }}</td>
				    	<td>{{ player.assists }}</td>		
				    	<td>{{ player.rebounds }}</td>
				    	<td>{{ player.steals }}</td>		
				    	<td>{{ player.blocks }}</td>
					</tr>
			</table>
		{% endblock totals %}

	</div>
	<div id="footer">
		<p>Footer</p>
	</div>
</div>

