{% load staticfiles %}
{% load stat_filters player_filters %}

<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}"/>

	{% block header %}
	<div id="header">
		Fantasy Basketball
	</div>
	{% endblock %}

	{% block navigation %}
		<div id="top-navigation-bar">
			<ul>
				<li><a href={% url 'all_teams' %}>League</a></li>
                <li><a href={% url 'team_profile' user_team.id  days_since_start %}>My Team</a></li>
                <li><a href={% url 'free_agents' days_since_start %}>Players</a></li>
			</ul>
		</div>
		<!-- end navigation -->
	{% endblock %}

	{% block main-content %}
	<div id="main-content">
		<h3>{{ player.name }} ({{ player.nba_team }} - {{ player.position }})</h3>
		{% if image_url %}
			<img border="0" src={{ image_url }}>
		{% endif %}
		<textarea disabled>{{ player.recent_notes }}</textarea>
		{% block recent_games %}
			<ul>
				<li><a href={% url 'player_profile' player.id 7 %}>Last 7</a></li>
				<li><a href={% url 'player_profile' player.id 15 %}>Last 15</a></li>
				<li><a href={% url 'player_profile' player.id 30 %}>Last 30</a></li>
				<li><a href={% url 'player_profile' player.id days_since_start %}>Season</a></li>
			</ul>
			<br>
			<table class="averages" cellpadding="2" cellspacing="2" border="1" id="teamtable_0" align="center">
				<caption>averages</caption>
					<tr>
						<th>MPG</th>
					    <th>FG%</th>
					    <th>FT%</th>
					    <th>3PG</th>
					    <th>PPG</th>
					    <th>RPG</th>		
					    <th>APG</th>
					    <th>SPG</th>		
					    <th>BPG</th>
					    <th>TOPG</th>
					</tr>
					<tr>
						<td>{{ avg_stats.minutes }}</td>
					    <td>{{ avg_stats.fgpct | format_pct }}</td>
					    <td>{{ avg_stats.ftpct | format_pct }}</td>
					    <td>{{ avg_stats.threes }}</td>		
					    <td>{{ avg_stats.points }}</td>
					    <td>{{ avg_stats.rebounds }}</td>
					    <td>{{ avg_stats.assists }}</td>
					    <td>{{ avg_stats.steals }}</td>		
					    <td>{{ avg_stats.blocks }}</td>
					    <td>{{ avg_stats.turnovers }}</td>
					</tr>
			</table>

			<table class="season_totals" cellpadding="2" cellspacing="2" border="1" id="teamtable_0" align="center">
				<caption>totals</caption>
					<tr>
						<th>Games</th>
				    	<th>Points</th>
				    	<th>Threes</th>
				    	<th>Assists</th>		
				    	<th>Rebounds</th>
				    	<th>Steals</th>		
				    	<th>Blocks</th>
				    	<th>Turnovers</th>
					</tr>
					<tr>
						<td>{{ avg_stats.games_played }}</td>
				    	<td>{{ total_stats.points }}</td>
				    	<td>{{ total_stats.threes }}</td>
				    	<td>{{ total_stats.assists }}</td>		
				    	<td>{{ total_stats.rebounds }}</td>
				    	<td>{{ total_stats.steals }}</td>		
				    	<td>{{ total_stats.blocks }}</td>
				    	<td>{{ total_stats.turnovers }}</td>
					</tr>
			</table>

		{% endblock %}
	</div>
	{% endblock %}

	{% block sidebar %}
		<div id="sidebar-content">
			<table class="player_recent_games" cellpadding="2" cellspacing="2" width="40%" border="1" id="teamtable_0" align="center">
				<caption>Recent Games</caption>
					<tr>
						<th>Date</th>
					    <th>Game</th>
					    <th class="team_table_stat"><span title="Minutes">MIN</span></td>
						<th class="team_table_stat"><span title="Field Goals Made">FGM</span>/<span title="Field Goals Attempted">FGA</span></td>
						<th class="team_table_stat"><span title="Free Throws Made">FTM</span>/<span title="Free Throws Attempted">FTA</span></td>
						<th class="team_table_stat"><span title="Three Pointers Made">3PM</span></td>
						<th class="team_table_stat"><span title="Rebounds">REB</span></td>
						<th class="team_table_stat"><span title="Assists">AST</span></td>
						<th class="team_table_stat"><span title="Steals">STL</span></td>
						<th class="team_table_stat"><span title="Blocks">BLK</span></td>
						<th class="team_table_stat"><span title="Turnovers">TO</span></td>
						<th class="team_table_stat"><span title="Points">PTS</span></td>
					</tr>
					{% for statline in player.recent_statlines %}
						<tr>
							<td>{{ statline.game.date }}</td>
						    <td>{% if statline.game.away_team == player.nba_team%}
						    		@{{ statline.game.home_team }}
						    	{% else %}
						    		{{ statline.game.away_team }}
						    	{% endif %}
						    </td>
						    <td>{{ statline.mp }}</td>
							<td><span>{{ statline.fgm }}</span>/<span>{{ statline.fga }}</span></td>
							<td><span>{{ statline.ftm }}</span>/<span>{{ statline.fta }}</span></td>
						    <td>{{ statline.threesm }}</td>		
						    <td>{{ statline.trbs }}</td>
						    <td>{{ statline.asts }}</td>
						    <td>{{ statline.stls }}</td>		
						    <td>{{ statline.blks }}</td>
						    <td>{{ statline.tos }}</td>
						    <td>{{ statline.pts }}</td>
						</tr>
					{% endfor %}
			</table>
			<br><br>
			<table class="player_upcoming_games" cellpadding="2" cellspacing="2" width="40%" border="1" id="teamtable_1" align="center">
				<caption>Upcoming Games</caption>
					<tr>
						<th>Date</th>
					    <th>Game</th>
					</tr>
					{% for game in player.upcoming_games %}
						<tr>
							<td>{{ game | format_date }}</td>
						    <td>{% if game.away_team == player.nba_team%}
						    		@{{ game.home_team }}
						    	{% else %}
						    		{{ game.away_team }}
						    	{% endif %}
						    </td>
						</tr>
					{% endfor %}
			</table>
		
		</div>
		<!-- end stat tables -->
	{% endblock %}

