{% load staticfiles %}
<div id="grad1">
    <head>
	<title> 
        {% block page_title %} 
            Fantasy Basketball
        {% endblock %}
    </title>
	<link rel="stylesheet" type="text/css" href="{% static "css/teamprofile.css" %}"/>
</head>

<body>
    {% block navigation %}
        {% if user.is_authenticated %}
		<div id="top-navigation-bar">
			<ul>
				<li><a href={% url 'all_teams' %}>League</a></li>
                <li><a href={% url 'team_profile' user_team.id  days_since_start %}>My Team</a></li>
                <li><a href={% url 'free_agents' days_since_start %}>Players</a></li>
			</ul>
		</div>
        {% else %}
        <div id="login">
            <a href="{% url 'login' %}">Login</a>
        </div>
        {% endif %}
		<!-- end navigation -->
	{% endblock %}

	{% block main-content %}
		<div id="main-content">
			{% block page-content %}
				<div id="page-content">
					{% block inner-page-content %}Main Content{% endblock %}
				</div>
			{% endblock %}
		</div>
        <!-- end main-content -->
	{% endblock %}	
<!-- 
	{% block footer %}
        <div id="footer" align="center">
            <div id="footer-block" class="footer-block">
                <h3>Support</h3>
                <ul role="navigation">
                    <li><a href="/faq/">FAQ</a></li>
                    <li><a href="/about/">About</a></li>
                    <li><a href="{% url 'contact_form'">Contact the Developer</a></li>
                </ul>
            </div>
            <div id="footer-block" class="footer-block">
                <h3>Account</h3>
                <ul role="navigation">
                    <li><a href="{% url 'manage_account'">My Account</a></li>
                    <li><a href="{% url 'redeem_code'">Redeem code</a></li>
                    <li><a href="/privacy/">Privacy Policy</a></li>
                    <li><a href="/terms-of-service/">Terms of Service</a></li>
                </ul>
            </div>
            <div id="footer-block" class="footer-block">
                <h3>Inspirations</h3>
                <ul>
                    <li><a href="http://games.espn.go.com/frontpage/basketball">ESPN Fantasy Basketball</a></li>
					<li><a href="http://basketball.fantasysports.yahoo.com/">Yahoo Fantasy Basketball</a></li>
                </ul>
            </div>
        </div>
        <!-- end #footer -->
<!--     {% endblock %} -->
</body>
