{% load staticfiles stat_filters %}

<link rel="stylesheet" type="text/css" href="{% static "css/matchup-tables.css" %}" />

<table cellpadding="0" cellspacing="1" border="1" id="teamtable_0" bordercolor="FFFFFF">
	<tbody>
		<tr id="table_row_head_0">
			<td style="text-align:left"colspan="1">TEAM</td>
			<td class="sectionLeadingSpacer"></td>
			<th colspan="9">STATISTICS</th>
			<td class="sectionLeadingSpacer"></td>
			<th style="text-align:right">TOTAL</th>
		</tr>
		<tr id="table_subrow_head_0">
			<td style="text-align:left">NAME</td>
			<td class="sectionLeadingSpacer"></td>
			<td style="text-align:right">FG%</td>
			<td style="text-align:right">FT%</td>
			<td style="text-align:right">3PM</td>
			<td style="text-align:right">REB</td>
			<td style="text-align:right">AST</td>
			<td style="text-align:right">STL</td>
			<td style="text-align:right">BLK</td>
			<td style="text-align:right">TO</td>
			<td style="text-align:right">PTS</td>
			<td class="sectionLeadingSpacer"></td>
			<td style="text-align:right">SCORE</td>
		</tr>
		<tr id="matchup_table_row_0">
			<td style="text-align:left"><a href="{% url 'team_profile' matchup.home_team.id %}">{{ matchup.home_team }}</a></td>
			<td class="sectionLeadingSpacer"></td>
			<td style="text-align:right">{{ home_totals.fgpct|format_pct }}</td>
			<td style="text-align:right">{{ home_totals.ftpct|format_pct }}</td>
			<td style="text-align:right">{{ home_totals.threes }}</td>
			<td style="text-align:right">{{ home_totals.rebounds }}</td>
			<td style="text-align:right">{{ home_totals.assists }}</td>
			<td style="text-align:right">{{ home_totals.steals }}</td>
			<td style="text-align:right">{{ home_totals.blocks }}</td>
			<td style="text-align:right">{{ home_totals.turnovers }}</td>
			<td style="text-align:right">{{ home_totals.points }}</td>
			<td class="sectionLeadingSpacer"></td>
			<td style="text-align:right">{{ home_totals.result }}</td>
		</tr>
		<tr id="matchup_table_row_0">
			<td style="text-align:left"><a href="{% url 'team_profile' matchup.away_team.id %}">{{ matchup.away_team }}</a></td>
			<td class="sectionLeadingSpacer"></td>
			<td style="text-align:right">{{ away_totals.fgpct|format_pct }}</td>
			<td style="text-align:right">{{ away_totals.ftpct|format_pct }}</td>
			<td style="text-align:right">{{ away_totals.threes }}</td>
			<td style="text-align:right">{{ away_totals.rebounds }}</td>
			<td style="text-align:right">{{ away_totals.assists }}</td>
			<td style="text-align:right">{{ away_totals.steals }}</td>
			<td style="text-align:right">{{ away_totals.blocks }}</td>
			<td style="text-align:right">{{ away_totals.turnovers }}</td>
			<td style="text-align:right">{{ away_totals.points }}</td>
			<td class="sectionLeadingSpacer"></td>
			<td style="text-align:right">{{ away_totals.result }}</td>
		</tr>
	</tbody>

</table>

<table class="home_table" cellpadding="0" cellspacing="1" border="1" id="teamtable_0" bordercolor="FFFFFF">
	<tbody>
		<tr id="table_row_head_0">
			<th colspan="100">{{ matchup.home_team }} BOX SCORE</th>
		</tr>
		<tr id="table_subrow_head_0">
			<th colspan="1" class="home_section_header_first">PLAYERS</td>
			<th colspan="1">MATCHUP {{ matchup.week }}</td>
			<td class="sectionLeadingSpacer"></td>
			<th colspan="13">TOTAL STATISTICS</td>
		</tr>
		<tr id="table_subrow_head_1">
			<td>PLAYER, TEAM POS</td>
			<td title="Games over this period">GAMES: OPPONENTS</td>
			<td class="sectionLeadingSpacer"></td>
			<td class="home_table_stat"><span title="Games Played">GP</span></td>
			<td class="home_table_stat"><span title="Minutes">MIN</span></td>
			<td class="home_table_stat"><span title="Field Goals Made">FGM</span>/<span title="Field Goals Attempted">FGA</span></td>
			<td class="home_table_stat"><span title="Field Goal Percentage">FG%</span></td>
			<td class="home_table_stat"><span title="Free Throws Made">FTM</span>/<span title="Free Throws Attempted">FTA</span></td>
			<td class="home_table_stat"><span title="Free Throw Percentage">FT%</span></td>
			<td class="home_table_stat"><span title="Three Pointers Made">3PM</span></td>
			<td class="home_table_stat"><span title="Rebounds">REB</span></td>
			<td class="home_table_stat"><span title="Assists">AST</span></td>
			<td class="home_table_stat"><span title="Steals">STL</span></td>
			<td class="home_table_stat"><span title="Blocks">BLK</span></td>
			<td class="home_table_stat"><span title="Turnovers">TO</span></td>
			<td class="home_table_stat"><span title="Points">PTS</span></td>
		</tr>

		{% for player in home_stats.iteritems %}
		<tr class="home_stats_player_row">
			<td><a href="{% url 'player_profile' player.0 %}">{{ player.1.name }}</a>, {{ player.1.nba_team}} 
				{{ player.1.position }}</td>
			<td>games here</td>
			<td class="sectionLeadingSpacer"></td>
			<td class="player_table_stat">{{ player.1.games_played }}</td>
			<td class="player_table_stat">{{ player.1.minutes }}</td>
			<td class="player_table_stat"><span>{{ player.1.fgm }}</span>/<span>{{ player.1.fga }}</span></td>
			<td class="player_table_stat">{{ player.1.fgpct|format_pct }}</td>
			<td class="player_table_stat"><span>{{ player.1.ftm }}</span>/<span>{{ player.1.fta }}</span></td>
			<td class="player_table_stat">{{ player.1.ftpct|format_pct }}</td>
			<td class="player_table_stat">{{ player.1.threes }}</td>
			<td class="player_table_stat">{{ player.1.rebounds }}</td>
			<td class="player_table_stat">{{ player.1.assists }}</td>
			<td class="player_table_stat">{{ player.1.steals }}</td>
			<td class="player_table_stat">{{ player.1.blocks }}</td>
			<td class="player_table_stat">{{ player.1.turnovers }}</td>
			<td class="player_table_stat">{{ player.1.points }}</td>
  		</tr>
		{% endfor %}
		<tr id="team_stats_total_row">
			<td></td>
			<td>TOTALS</td>
			<td class="sectionLeadingSpacer"></td>
			<td class="player_table_stat">{{ home_totals.games_played }}</td>
			<td class="player_table_stat">{{ home_totals.minutes }}</td>
			<td class="player_table_stat"><span>{{ home_totals.fgm }}</span>/<span>{{ home_totals.fga }}</span></td>
			<td class="player_table_stat">{{ home_totals.fgpct|format_pct }}</td>
			<td class="player_table_stat"><span>{{ home_totals.ftm }}</span>/<span>{{ home_totals.fta }}</span></td>
			<td class="player_table_stat">{{ home_totals.ftpct|format_pct}}</td>
			<td class="player_table_stat">{{ home_totals.threes }}</td>
			<td class="player_table_stat">{{ home_totals.rebounds }}</td>
			<td class="player_table_stat">{{ home_totals.assists }}</td>
			<td class="player_table_stat">{{ home_totals.steals }}</td>
			<td class="player_table_stat">{{ home_totals.blocks }}</td>
			<td class="player_table_stat">{{ home_totals.turnovers }}</td>
			<td class="player_table_stat">{{ home_totals.points }}</td>
  		</tr>
	</tbody>
</table>

<table class="away_table" cellpadding="0" cellspacing="1" border="1" id="teamtable_0" bordercolor="FFFFFF">
	<tbody>
		<tr id="table_row_head_0">
			<th colspan="100">{{ matchup.away_team }} BOX SCORE</th>
		</tr>
		<tr id="table_subrow_head_0">
			<th colspan="1" class="home_section_header_first">PLAYERS</td>
			<th colspan="1">MATCHUP {{ matchup.week }}</td>
			<td class="sectionLeadingSpacer"></td>
			<th colspan="13">TOTAL STATISTICS</td>
		</tr>
		<tr id="table_subrow_head_1">
			<td>PLAYER, TEAM POS</td>
			<td title="Games over this period">GAMES: OPPONENTS</td>
			<td class="sectionLeadingSpacer"></td>
			<td class="home_table_stat"><span title="Games Played">GP</span></td>
			<td class="home_table_stat"><span title="Minutes">MIN</span></td>
			<td class="home_table_stat"><span title="Field Goals Made">FGM</span>/<span title="Field Goals Attempted">FGA</span></td>
			<td class="home_table_stat"><span title="Field Goal Percentage">FG%</span></td>
			<td class="home_table_stat"><span title="Free Throws Made">FTM</span>/<span title="Free Throws Attempted">FTA</span></td>
			<td class="home_table_stat"><span title="Free Throw Percentage">FT%</span></td>
			<td class="home_table_stat"><span title="Three Pointers Made">3PM</span></td>
			<td class="home_table_stat"><span title="Rebounds">REB</span></td>
			<td class="home_table_stat"><span title="Assists">AST</span></td>
			<td class="home_table_stat"><span title="Steals">STL</span></td>
			<td class="home_table_stat"><span title="Blocks">BLK</span></td>
			<td class="home_table_stat"><span title="Turnovers">TO</span></td>
			<td class="home_table_stat"><span title="Points">PTS</span></td>
		</tr>

		{% for player in away_stats.iteritems %}
		<tr class="home_stats_player_row">
			<td><a href="{% url 'player_profile' player.0 %}">{{ player.1.name }}</a>, {{ player.1.nba_team}} 
				{{ player.1.position }}</td>
			<td>Games here</td>
			<td class="sectionLeadingSpacer"></td>
			<td class="player_table_stat">{{ player.1.games_played }}</td>
			<td class="player_table_stat">{{ player.1.minutes }}</td>
			<td class="player_table_stat"><span>{{ player.1.fgm }}</span>/<span>{{ player.1.fga }}</span></td>
			<td class="player_table_stat">{{ player.1.fgpct|format_pct }}</td>
			<td class="player_table_stat"><span>{{ player.1.ftm }}</span>/<span>{{ player.1.fta }}</span></td>
			<td class="player_table_stat">{{ player.1.ftpct|format_pct }}</td>
			<td class="player_table_stat">{{ player.1.threes }}</td>
			<td class="player_table_stat">{{ player.1.rebounds }}</td>
			<td class="player_table_stat">{{ player.1.assists }}</td>
			<td class="player_table_stat">{{ player.1.steals }}</td>
			<td class="player_table_stat">{{ player.1.blocks }}</td>
			<td class="player_table_stat">{{ player.1.turnovers }}</td>
			<td class="player_table_stat">{{ player.1.points }}</td>
  		</tr>
		{% endfor %}
		<tr id="team_stats_total_row">
			<td></td>
			<td>TOTALS</td>
			<td class="sectionLeadingSpacer"></td>
			<td class="player_table_stat">{{ away_totals.games_played }}</td>
			<td class="player_table_stat">{{ away_totals.minutes }}</td>
			<td class="player_table_stat"><span>{{ away_totals.fgm }}</span>/<span>{{ away_totals.fga }}</span></td>
			<td class="player_table_stat">{{ away_totals.fgpct|format_pct }}</td>
			<td class="player_table_stat"><span>{{ away_totals.ftm }}</span>/<span>{{ away_totals.fta }}</span></td>
			<td class="player_table_stat">{{ away_totals.ftpct|format_pct}}</td>
			<td class="player_table_stat">{{ away_totals.threes }}</td>
			<td class="player_table_stat">{{ away_totals.rebounds }}</td>
			<td class="player_table_stat">{{ away_totals.assists }}</td>
			<td class="player_table_stat">{{ away_totals.steals }}</td>
			<td class="player_table_stat">{{ away_totals.blocks }}</td>
			<td class="player_table_stat">{{ away_totals.turnovers }}</td>
			<td class="player_table_stat">{{ away_totals.points }}</td>
  		</tr>
	</tbody>
</table>
