{% extends 'site_base.html' %}
{% load staticfiles stat_filters %}

{% block main-content %}
<div id="main-content">
	<div id="sub-main-content-0">
		<div id="matchupMainContainer">
			<div id="scoreboard-header">
				<h2 id="scoreboard-header">{{ matchup.away_team.last_name }} at {{ matchup.home_team.last_name }} Box Score</h2>
				<p id="scoreboard-header">Matchup {{ matchup.week }} ({{ matchup.start_date }} - {{ matchup.end_date }})</p>
			</div>
			<div id="homeTeamProfileContainer">
				<div id="teamLogo" href="{% url 'team_profile' matchup.home_team.id days_since_start %}">
					<img src="http://g.espncdn.com/s/fbalm/15/images/clubhouse/noLogoSilo.gif" width="151" height="129.0">
				</div>
				<div id="teamProfileInnerContainer">
				<div id="teamProfileInnerContainerName">{{ matchup.home_team }}</div>

				<div id="teamProfileInfo">
					<div id="teamProfileOwnerMug">
						<img src="http://assets.espn.go.com/i/profile/default/silo2_guy_35.jpg" width="35" height="48">
					</div>
					<div id="teamProfileOwnerData"><a href="{% url 'team_profile' matchup.home_team.id days_since_start %}">{{ matchup.home_team.owner }}</a></div>
					</div><b>Record: </b>{{ matchup.home_team.record }}<br><b>Standing: </b> tbd<br></div>
				</div>
			</div>
			<div id="awayTeamProfileContainer">
				<div id="teamLogo" href="{% url 'team_profile' matchup.away_team.id days_since_start %}">
					<img src="http://g.espncdn.com/s/fbalm/15/images/clubhouse/noLogoSilo.gif" width="151" height="129.0">
				</div>
				<div id="teamProfileInnerContainer">
				<div id="teamProfileInnerContainerName">{{ matchup.away_team }}</div>

				<div id="teamProfileInfo">
					<div id="teamProfileOwnerMug">
						<img src="http://assets.espn.go.com/i/profile/default/silo2_guy_35.jpg" width="35" height="48">
					</div>
					<div id="teamProfileOwnerData"><a href="{% url 'team_profile' matchup.away_team.id days_since_start %}">{{ matchup.away_team.owner }}</a></div>
					</div><b>Record: </b>{{ matchup.away_team.record }}<br><b>Standing: </b> tbd<br></div>
				</div>
			</div>
		{% include 'matchup-tables.html' %}
		</div>
	</div>
</div>
{% endblock%}

