{% load static %}

<link rel="stylesheet" type="text/css" href="{% static "css/full-schedule.css" %}" />


<div id="navigation">
	<ul>
		<li><a href={% url 'site_home' %}>Basketball Home</a></li>
		<li><a href={% url 'all_teams' %}>League Home</a></li>
        <li><a href={% url 'all_averages' %}>Players</a></li>
        <li><a href={% url 'all_matchups' %}>Schedule</a></li>
	</ul>
</div>


<div id="season-schedule">
	{% for matchups in matchups_by_date %}
		<table class="matchup_table" cellpadding="2" cellspacing="2" border="1" id="full-schedule-0" align="left">
			<tbody>
				<tr class="matchups_row">
					<th colspan="3" id="full_schedule_section_header">{{ matchups.0.start_date }} - {{ matchups.0.end_date }}</th>
				</tr>
				<tr class="matchup_row">
					<th class="matchup_row"><span title="Minutes">HOME</span></td>
					<th class="matchup_row">AWAY</td>
					<th class="matchup_row">RESULT</td>
				</tr>
				{% for matchup in matchups %}
					<tr>
						<td class="matchup_row">{{ matchup.home_team }}</td>
						<td class="matchup_row">{{ matchup.away_team }}</td>
						<td class="matchup_row">{{ matchup.result }}</td>
			  		</tr>
			  	{% endfor %}
			</table>
	{% endfor %}
</div>