{% load staticfiles stat_filters %}

<link rel="stylesheet" type="text/css" href="{% static "css/teamprofile.css" %}" />

<div id="matchupMainContainer">
	{% block header %}
		<h2>
			{{ matchup.away_team.last_name }} at {{ matchup.home_team.last_name }} Box Score
			<!-- <em>Matchup {{ matchup.week}} ({{ matchup.start_date }} - {{ matchup.end_date }})</em> -->
		</h2>
	{% endblock %}

	{% block team-profiles %}
		{% include 'team_profile_module.html' %}
		{% include 'away_team_profile_module.html' %}
	{% endblock%}

	{% block main-content %}
		{% include 'matchup_tables.html' %}
	{% endblock %}
</div>

